body {
    text-align: center;
}

iframe {
    margin: 30px;
}

#Apps {
    height: 1000px;
    background: linear-gradient(#108de6 0%, #ed2835 100%)
}

.section_name {
    font-size: 50px;
    color: #ffffff;
}

#games {
    background: linear-gradient(#ed2835 0%, #690a1f 100%)
}

img {
    height: 200px;
    width: 200px;
    padding: 20px;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.2);
}

#chatbot {
    background: linear-gradient(#4db6f7 0%, #111dcf 100%)
}
